//COLORS
$color1-light: #c3e4f1;
$color1:#a8d8ea;
$color2: #aa96da;
$color2-darker: #8164c8;
$color3: #fcbad3;
$color4: #ffffd2;
$color4-darker: #ffff9f;
$text-color: #414141;

html {
  font-size: 62.5%;

  @media only screen and (max-width: 1200px) {
    font-size: 56.25%;
  }

  @media only screen and (max-width: 960px) {
    font-size: 50%;
  }

  @media only screen and (max-width: 600px) {
    font-size: 43.75%;
  }
}

body {
  background: #D4D4D4;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  color: $text-color;

}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin button-reset {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

@mixin clearfix {
  &:after {
      content: "";
      clear: both;
      display: table;
  }
}

.btn {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  @include button-reset;
  color: #fff;
  margin: 5px 0;
  padding: .8rem;
  transition: all .2s;

  &:active {
    transform: translateY(1px);
    filter: saturate(150%);
  }

  &:focus {
    outline: none;
    box-shadow: 0 5px 5px rgba(0,0,0,0.1);
  }
}

.js-focus-visible .btn:focus:not(.focus-visible) {
  box-shadow: none;
}
