//COLORS
$color1:#a8d8ea;
$color2: #aa96da;
$color3: #fcbad3;
$color4: #ffffd2;
$text-color: #1a1a1a;

html {
  font-size: 62.5%;
}

body {
  background: #D4D4D4;
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  color: $text-color;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

@mixin button-reset {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.btn {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  margin: 5px 0;
  border-radius: 4px;
  @include button-reset;
  background-color: $color2;
  color: #fff;
  padding: .8rem;
  transition: all .2s;

  &:active {
    transform: translateY(1px);
    filter: saturate(150%);
  }

  &:hover {
    background-color:#8164c8;
  }

  &:focus {
    outline: none;
    box-shadow: 0 5px 5px rgba(0,0,0,0.1);
  }
}

.js-focus-visible .btn:focus:not(.focus-visible) {
  box-shadow: none;
}






// h1 {
//   font-family: 'blanchcaps_inline', sans-serif;
//   text-align: center;
//   font-weight: normal;
//   margin: 0;
// }



// h2,h3,h4,h5,h6 {
//   font-weight: normal;
//   font-family: 'haymakerregular', sans-serif;
// }

// h2 {
//   text-align: center;
//   margin-top: 0;
//   margin-bottom: 2rem;
// }

h3 {
 margin: 0;
}
