.recipe-box {
  position: relative;
}

.menu {
  background: linear-gradient(to right top, $color1-light, $color1);
  border-right: 3px solid $color2;
  height: 100vh;
  width: 20%;
  position: fixed;
  padding: 1.2rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  &__button {
    padding: 1rem 2rem;
    background-color: $color2;

    &:hover {
      background-color: $color2-darker;
    }
  }
}

.main {
  width: 80%;
  min-height: 100vh;
  float: right;
  padding: 5rem;
  background: linear-gradient(to right, $color4, $color4-darker)
}

.search {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__form {
    display: flex;
    justify-content: center;
  }

  &__input {
    width: 100%;
    height: 4rem;
    padding: 0 2rem;
    background: transparent;
    border: none;
    border-bottom: 5px solid $color2;
    outline: none;
    transition: border-bottom .3s;

    &:focus {
      border-bottom: 5px solid $color2-darker;
    }
  }
}


.recipe-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recipe-item {
  width: 30%;
  height: 10rem;
  width: 80%;
  background-color: #ffffff;
  border: 1px solid $color3;
  box-shadow: 0 5px 10px rgba(101, 90, 86, 0.2);
  border-radius: 5px;
  overflow: hidden;

  display: flex;
  align-items: center;

  &:not(:first-child) {
    margin-top: 2rem;
  }

  &__link {
    margin-left: 4rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 5rem;
    transition: all .2s;
    display: inline-block;
    word-wrap: break-word;
    transform: rotate(0deg);
    backface-visibility: hidden;

    &:hover {
      color: $color2;
      transform: rotate(2deg);
    }
  }

  &__buttons {
    margin-left: auto;
    width: 20rem;
    height: 100%;

    display: flex;
  }

  &__button {
    width: 50%;
    @include button-reset;
    transition: all .2s ease-in;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover { background-color: $color3; }

    & svg { transition: fill .2s ease-in; }

    &--edit:hover svg { fill: #006f00; }

    &--delete:hover svg { fill: #f11; }
  }

  &__fig {
    height: 100%;
    width: 12%;
    position: relative;

    &::after {
      content: "";
      background-image: linear-gradient( rgba(168, 216, 234, .1), rgba(168, 216, 234, .1));
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
    }
  }

  &__image {
    height: 100%;
  }
}

.details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;

  &__heading {
    width: 100%;
    text-align: center;
    margin-bottom: 4rem;
    letter-spacing: 2px;
  }

  &__image {
    width: 45%;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.3);
  }

  &__ingredients {
    width: 45%;
    padding: 2rem;
    background-color: #ffff39;
    text-align: center;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.3);
  }

  &__ingredient {
    margin-top: 5px;
  }

  &__instruction {
    margin-top: 4rem;
    width: 100%;
  }

  &__instruction-step {
    margin-top: 2rem;
    @include clearfix;

    &--number {
      display: inline-block;
      background-color: $color3;
      padding: 1rem 1.5rem;
      border-radius: 50%;
      margin-right: 2rem;
      float: left;
    }

  }
}

.add-recipe {
  max-width: 80rem;
  margin: 0 auto;

  display: flex;
  flex-direction: column;

  & input,
  & textarea  {
    background-color: transparent;
    border: none;
    background-color: #fddbe8;
    border: 3px solid transparent;
    margin-top: 5px;
    outline: none;
    transition: border .2s;
    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.3);
    padding: 1rem 2rem;
    font-size: 1.8rem;
    color: inherit;
    width: 100%;

    &:hover,
    &:focus {
      border-bottom: 3px solid $color2;
    }
  }

  & textarea {
    resize: none;
    height: 16rem;
    width: 100%;

    &[name="ingredients"] {
      height: 8rem;
    }
  }

  & label {
    margin-top: 1rem;
  }

  &__button {
    background-color: $color2;
    margin-top: 2rem;
    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.3);

    &:hover {
      background-color: $color2-darker;
    }
  }

}

